html{
    font-family: 'Assistant', sans-serif;
    color: white;
}

body{
    animation-name: fade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes fade{
    from {background-color: white}
    to {background-color: #eb4034} /** teal: #12788c, green: #1a612d */
}

table{
    width: 100%;
}

h1{
    font-size: 4em;
}

a{
    text-decoration: underline;
    color: white;
}

a:hover{
    text-decoration: none;
    color: #a9caff;
}

h4 a{
    color: #6393e0;
}

h4 a:hover{
    color: #75aaf8;
}

.main{
    height: 100vh;
    text-align: center;
}

.main p{
    width: 60vw;
    font-size: 1.5em;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box, .slideout {
    width: 80%;
    padding: 20px;
    background-color: #eee;
    color: #292929;
    border-radius: 0px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.box{
    margin-top: 20px;
    cursor: pointer;
    background-color: #dbdbdb;
}

.slideout{
    display: flex;
}

.slideout div{
    flex: 1;
}

.slideout img{
    width: 300px;
    height: 100%;
}

.plusminus {
    float: right;
}
